@use 'variables' as *;
.page-content {
  max-width: 800px;
  display: block;
  margin: 10px auto 10px;
  padding: 0px 10px 10px;
}

.blog-posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.blog-post {
  background-color: 'white';
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-post a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.blog-post-image img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-bottom: 1px solid #ddd;
}

.blog-post-info {
  padding: 15px;
}

.blog-post-info h2 {
  font-size: 1.2em;
  margin: 0;
}

.blog-post-info small {
  color: #716868;
  font-size: 0.9em;
}
